- title t('lists.my_lists')

- if user_signed_in?

  %h1= t('lists.my_lists')

  %h3= t('lists.active')
  %ul.active
    - current_user.lists.active.each do |list|
      %li.list
        .progress{ :style => "width: 25px;" }
          .bar{ :style => "width: #{25 * list.progress}px;"}
      
        != link_to list.name, list
        %span.task_count
          = list.tasks.pending.length
          = t('tasks.n_remaining')
        %p.description
          = truncate(st(markdown(list.description)), :length => 80, :separator => ' ') unless list.description.empty?
          - if list.description.empty?
            %i= T('lists.no_description')

  %h3= t('lists.finished')
  %ul.finished
    - current_user.lists.finished.each do |list|
      %li.list
        .progress{ :style => "width: 25px;" }
          .bar.completed{ :style => "width: #{25 * list.progress}px;"}
      
        = link_to(list.name, list, :title => t('lists.reopen'), :class => "closed")

- else
  
  = render :controller => "site", :action => "welcome"